* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}
button {
    
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #e64322;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
}
input{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border:none;
    background-color: rgb(233, 233, 233);
    color: #030303;
}
.row{
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
}
.container{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: url(images/brew2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.checkoutLayout{
    display: flex;
    align-items: center;
    padding: 20px;
 }
 .checkoutLayout .right{
     background-color: transparent;
     border-radius: 20px;
     padding: 40px;
     color: #fff;
     box-shadow: 0px -1px 5px 8px rgba(255,255,255,0.56);
    -webkit-box-shadow: 0px -1px 5px 8px rgba(255,255,255,0.56);
    -moz-box-shadow: 0px -1px 5px 8px rgba(255,255,255,0.56);
 }
 .checkoutLayout .right h1{
    text-align: center;
 }
 .checkoutLayout .right .form{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
     border-bottom: 1px solid #7a7fe2;
     padding-bottom: 20px;
 }
 .checkoutLayout .form h1,
 .checkoutLayout .form .group:nth-child(-n+3){
     grid-column-start: 1;
     grid-column-end: 3;
 }
 .checkoutLayout .form input, 
 .checkoutLayout .form select
 {
     width: 100%;
     padding: 10px 20px;
     box-sizing: border-box;
     border-radius: 20px;
     margin-top: 10px;
     border:none;
     background-color: rgb(233, 233, 233);
     color: #030303;
 }
 .checkoutLayout .right .return .row{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 10px;
 }
 .checkoutLayout .right .return .row div:nth-child(2){
     font-weight: bold;
     font-size: 1.8rem;
 }
 .buttonCheckout{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #e64322;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
 }